<%- include('../partials/header') %>

<h2>Games List</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Year</th>
      <th>ESRB</th>
      <th>Developer</th>
      <th>Console</th>
      <th>Out Now</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% games.forEach(function(g) { %>
      <tr>
        <td><%= g.title %></td>
        <td><%= g.releaseYear %></td>
        <td><%= g.ESRB %></td>
        <td><%= g.devTeam %></td>
        <td><%= g.console %></td>
        <td><%= g.outNow ? 'Yes' : 'No' %></td>
        <td>
          <a href="/games/<%= g._id %>/edit"><button>Update Game</button></a>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <form method="POST" action="/games/<%= g._id %>?_method=DELETE" onsubmit="return confirm('Are you sure you certain that you want to remove this game?')">
            <button type="submit">Delete Game</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('../partials/footer') %>
